@charset "utf-8";
.btn,.btn--gold,.btn--grey,.btn--hollow,.btn--hollowGold,.btn--hollowWhite,.btn--hollowWhiteGold,.btn--navy,.renderFix,.spr-button,.spr-summary-actions-newreview{
	-webkit-transform:translateZ(0);
	transform:translateZ(0)
}
.btn,.btn--gold,.btn--grey,.btn--hollow,.btn--hollowGold,.btn--hollowWhite,.btn--hollowWhiteGold,.btn--navy,.menu__sub--item,.product__desc,.radius,.select__wrapper,.spr-button,.spr-summary-actions-newreview,.tabbed__dropDown,.tabbed__list,.tabbed__list li,.ui__form--minimal,input,textarea{
	border-radius:.25rem
}
.hideFont,.logo,.logo--footer,.ui__close{
	font:0/0 a
}
.countrySelect,.countrySelect__close,.menu__countryDrop,.menu__sub--item,.pointer,select{
	cursor:pointer
}
.faint {
	opacity:.6
}
@media screen and (min-width:61em){
	.is--small{display:none}
}
.is--large,.is--medium{
	display:none!important
}
@media screen and (min-width:35em){
	.is--medium{
		display:inline-block!important
	}
}
@media screen and (min-width:61em){
	.is--large{
		display:block!important
	}
}
.l__navy,.menu__sub--item.is--active,.menu__sub--item:hover{
	background-color:#0c1d33
}
.t__navy,.t__navy--hover:hover,input,select,textarea{
	color:#0c1d33
}
.s__navy{
	fill:#0c1d33
}
.l__navy--dark{
	background-color:#0a1729
}
.t__navy--dark,.t__navy--dark--hover:hover{
	color:#0a1729
}
.s__navy--dark{
	fill:#0a1729
}
.l__navy--light{
	background-color:#152740
}
.t__navy--light,.t__navy--light--hover:hover{
	color:#152740
}
.s__navy--light{
	fill:#152740
}
.l__block--tall,.l__gold,.menu__sub--item{
	background-color:#a3925f
}
.t__gold,.t__gold--hover:hover{
	color:#a3925f
}
.s__gold{
	fill:#a3925f
}
.l__grey{
	background-color:#f4f4f4
}
.t__grey,.t__grey--hover:hover{
	color:#f4f4f4
}
.s__grey{
	fill:#f4f4f4
}
.l__grey--dark{
	background-color:#d9d9d9
}
.t__grey--dark,.t__grey--dark--hover:hover{
	color:#d9d9d9
}
.s__grey--dark{
	fill:#d9d9d9
}
.countrySelect__overlay__inner,.l__white,.select__wrapper{
	background-color:#fff
}
.countrySelect,.menu__sub--item,.menu__sub--item.is--active,.menu__sub--item:hover,.t__white,.t__white--hover:hover{
	color:#fff
}
.s__white{
	fill:#fff
}
.l__grey-alt{
	background-color:#ededed
}
.t__grey-alt,.t__grey-alt--hover:hover{
	color:#ededed
}
.s__grey-alt{
	fill:#ededed
}
.countrySelect__overlay,.l__grey--menu{
	background-color:#e0e0e0
}
.t__grey--menu,.t__grey--menu--hover:hover{
	color:#e0e0e0
}
.s__grey--menu{
	fill:#e0e0e0
}
.z__1{
	z-index:1
}
.z__2{
	z-index:2
}
.z__3{
	z-index:3
}
.z__4{
	z-index:4
}
.z__5{
	z-index:5
}
.l__top{
	top:0
}
.l__left,input[type=checkbox]{
	float:left
}
.l__right{
	float:right
}
.l__middle{
	width:100%;
	display:table-cell;
	vertical-align:middle
}
.l__center{
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	width:100%
}
.l__full{
	height:100%
}
.l__minHeight{
	min-height:12.5rem
}
.l__topLine{
	border-top:thin solid #d9d9d9
}
.l__max-width{
	width:85%;
	max-width:43.75rem;
	margin-left:auto;
	margin-right:auto
}
.l__padding--none{
	padding:0!important
}
.l__padding{
	padding:4.75rem!important
}
.l__padding--large{
	padding:2.375rem!important
}
.l__padding--med{
	padding:1.1875rem!important
}
.l__padding--small{
	padding:.59375rem!important
}
.l__padding--right{
	padding-right:4.75rem!important
}
.l__paddingTop{
	padding-top:.59375rem!important
}.l__padding--article{
	padding:0 .9375rem 6.875rem
}
.l__padding--mega{
	padding:3.5625rem 1.1875rem!important
}
@media screen and (min-width:35em){
	.l__padding--mega{
		padding:4.75rem 2.375rem!important
	}
}
@media screen and (min-width:61em){
	.l__padding--mega{
		padding:8.3125rem 1.1875rem!important
	}
}
.l__margin--none{
	margin:0!important
}
.l__margin{
	margin:1.1875rem 0!important
}
.l__margin--small{
	margin:.59375rem 0!important
}
.l__marginBottom{
	margin-bottom:1.1875rem
}
.l__marginBottom--large{
	margin-bottom:2.375rem
}
.l__marginBottom--small{
	margin-bottom:.59375rem
}
.l__marginBottom--none{
	margin-bottom:0!important
}
.l__marginTop--none{
	margin-top:0!important
}
.l__marginTop{
	margin-top:3.5625rem!important
}
.l__marginTop--med{
	margin-top:1.1875rem!important
}
.l__marginTop--small{
	margin-top:.59375rem!important
}
.l__marginLeft{
	margin-left:3.5625rem
}
.l__marginLeft--small{
	margin-left:.59375rem
}
.l__marginRight{
	margin-right:3.5625rem
}
.l__marginRight--small{
	margin-right:.59375rem
}
.countrySelect small,.countrySelect__country small,.l__pos--rel,.select__wrapper,input[type=checkbox],select{
	position:relative
}
.countrySelect__close,.countrySelect__overlay,.credit,.l__pos--abs,.product__endorsed{
	position:absolute
}
.l__dis--none{
	display:none
}
.l__dis--block{
	display:block
}
.countrySelect__country,.l__dis--inline-block,.menu__sub--item{
	display:inline-block
}
.l__dis--table{
	display:table
}
.grid--all:after,.grid:after,.l__block--tall:after,.l__block:after,.l__cf:after,.l__full:after,.l__list--four2One:after,.l__list--four:after,.l__list--two:after,.l__list--twoGap:after,.l__strip--two:after,.l__strip:after,.overlay__panel:after,.product__desc:after{
	content:'';
	display:table;
	clear:both
}
.i__full{
	top:0;
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	position:absolute;
	height:100%;
	width:auto
}
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:0;
	-webkit-font-smoothing:antialiased;
	outline:0
}
body,html{
	font-size:100%;
	text-align:center
}
img{
	width:100%
}
.grid,.grid--all{
	display:block
}
.grid{
	width:100%;
	margin:1.1875rem 0 0
}
@media screen and (min-width:61em){
	.grid{
		margin:1.1875rem 0 0 -1.1875rem;
		width:calc(100% + 1.1875rem)
	}
}
.grid--all{
	margin:1.1875rem 0 0 -1.1875rem;
	width:calc(100% + 1.1875rem)
}
[class*=col--]{
	min-height:1.1875rem;
	width:100%;
	margin-top:1.1875rem
}
@media screen and (min-width:61em){
	[class*=col--]{
		float:left;
		margin-top:0;
		margin-left:1.1875rem
	}
}
[class*=colSm--]{
	float:left;
	margin-top:0;
	margin-left:1.1875rem
}
.ordered{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column
}
@media screen and (min-width:35em){
	.ordered{
		display:block
	}
}
@media screen and (min-width:61em){
	.col--1{
		width:calc(8.333333333333334% - 1.1875rem)!important
	}
}
.colSm--1{
	width:calc(8.333333333333334% - 1.1875rem)
}
.order--1{
	-ms-flex-order:1;
	order:1
}
@media screen and (min-width:61em){
	.col--2{
		width:calc(16.666666666666668% - 1.1875rem)!important
	}
}
.colSm--2{
	width:calc(16.666666666666668% - 1.1875rem)
}
.order--2{
	-ms-flex-order:2;
	order:2
}
@media screen and (min-width:61em){
	.col--3{
		width:calc(25% - 1.1875rem)!important
	}
}
.colSm--3{
	width:calc(25% - 1.1875rem)
}
.order--3{
	-ms-flex-order:3;
	order:3
}
@media screen and (min-width:61em){
	.col--4{
		width:calc(33.333333333333336% - 1.1875rem)!important
	}
}
.colSm--4{
	width:calc(33.333333333333336% - 1.1875rem)
}
.order--4{
	-ms-flex-order:4;
	order:4
}
@media screen and (min-width:61em){
	.col--5{
		width:calc(41.66666666666667% - 1.1875rem)!important
	}
}
.colSm--5{
	width:calc(41.66666666666667% - 1.1875rem)
}
.order--5{
	-ms-flex-order:5;
	order:5
}
@media screen and (min-width:61em){
	.col--6{
		width:calc(50% - 1.1875rem)!important
	}
}
.colSm--6{
	width:calc(50% - 1.1875rem)
}
.order--6{
	-ms-flex-order:6;
	order:6
}
@media screen and (min-width:61em){
	.col--7{
		width:calc(58.333333333333336% - 1.1875rem)!important
	}
}
.colSm--7{
	width:calc(58.333333333333336% - 1.1875rem)
}
.order--7{
	-ms-flex-order:7;
	order:7
}
@media screen and (min-width:61em){
	.col--8{
		width:calc(66.66666666666667% - 1.1875rem)!important
	}
}
.colSm--8{
	width:calc(66.66666666666667% - 1.1875rem)
}
.order--8{
	-ms-flex-order:8;
	order:8
}
@media screen and (min-width:61em){
	.col--9{
		width:calc(75% - 1.1875rem)!important
	}
}
.colSm--9{
	width:calc(75% - 1.1875rem)
}
.order--9{
	-ms-flex-order:9;
	order:9
}
@media screen and (min-width:61em){
	.col--10{
		width:calc(83.33333333333334% - 1.1875rem)!important
	}
}
.colSm--10{
	width:calc(83.33333333333334% - 1.1875rem)
}
.order--10{
	-ms-flex-order:10;
	order:10
}
@media screen and (min-width:61em){
	.col--11{
		width:calc(91.66666666666667% - 1.1875rem)!important
	}
}
.colSm--11{
	width:calc(91.66666666666667% - 1.1875rem)
}
.order--11{
	-ms-flex-order:11;
	order:11
}
@media screen and (min-width:61em){
	.col--12{
		width:calc(100% - 1.1875rem)!important
	}
}
.colSm--12{
	width:calc(100% - 1.1875rem)
}
.order--12{
	-ms-flex-order:12;
	order:12
}
.t__margin{
	margin:2.1875rem 0;
	display:block
}
.countrySelect,.countrySelect__country,.credit,.t__alignLeft{
	text-align:left
}
.t__alignCenter{
	text-align:center!important
}
.t__noSpacing{
	letter-spacing:0!important
}
.t__tightSpacing{
	letter-spacing:.1rem
}
.t__noLine{
	line-height:0
}
.btn,.btn--gold,.btn--grey,.btn--hollow,.btn--hollowGold,.btn--hollowWhite,.btn--hollowWhiteGold,.btn--navy,.credit,.journal__tag,.menu__sub--item,.spr-button,.spr-header-title,.spr-review-header-byline,.spr-summary-actions-newreview,.t__alpha,.t__delta,.t__gamma,.t__sans,.t__zeta,.t__zeta p,h1,h3,h4,h6{
	font-family:proxima-nova,Gill Sans,Gill Sans MT,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:600;
	text-transform:uppercase
}
.t__base,.t__beta,.t__epsilon,.t__eta,.t__journal,.t__journal--small,.t__serif,.t__theta,.t__theta p,figcaption,h2,h5,input,label,li,p,select,small,textarea{
	font-family:ff-meta-serif-web-pro,georgia,serif;
	font-weight:500
}
.t__crest:before{
	content:'';
	background:url(../pic/crest_with_text--gold.png) top/100% no-repeat;
	width:9.5rem;
	height:6rem;
	display:block;
	margin:0 auto 1.4rem
}
.t__alpha,.t__beta,h1,h2{
	color:#fff;
	font-size:2.25rem;
	margin:.5rem 0
}
@media screen and (min-width:61em){
	.t__alpha,.t__beta,h1,h2{
		font-size:3rem
	}
}
.t__journal{
	font-size:2.5rem;
	line-height:.8;
	position:relative;
	top:-.625rem
}
@media screen and (min-width:35em){
	.t__journal{
		font-size:4.375rem
	}
}
.t__journal--small{
	font-size:2.5rem
}
@media screen and (min-width:35em){
	.t__journal--small{
		font-size:3.125rem
	}
}
@media screen and (min-width:61em){
	.t__journal--small{
		font-size:3.75rem
	}
}
.t__alpha,h1{
	letter-spacing:.5rem;
	line-height:1.2
}
.t__beta,h2{
	line-height:1.2
}
.t__gamma,h3{
	font-size:1.5rem;
	letter-spacing:.25rem;
	line-height:1.4
}
@media screen and (min-width:61em){
	.t__gamma,h3{
		font-size:2rem;
		letter-spacing:.4rem
	}
}
.spr-header-title,.t__delta,h4{
	font-size:1.5rem;
	line-height:1.3;
	letter-spacing:.3rem
}
.t__epsilon,h5{
	font-size:1.5rem;
	font-weight:700
}
.journal__tag,.menu__sub--item,.spr-review-header-byline,.t__zeta,.t__zeta p,h6{
	font-size:.875rem;
	letter-spacing:.15rem
}
.journal__tag p,.menu__sub--item p,.spr-review-header-byline p,.t__zeta p,.t__zeta p p,h6 p{
	margin:0
}
.t__base,.t__eta,input,li,p,select,small,textarea{
	font-size:1rem;
	line-height:1.6;
	list-style:none
}
.t__theta,.t__theta p,figcaption,label{
	font-size:.8125rem
}
.t__theta p{
	margin:0 0 1.09375rem!important
}
a{
	text-decoration:none;
	color:inherit;
	will-change:color
}
a:hover{
	color:#a3925f
}
p{
	margin:2.1875rem auto
}
p:last-child{
	margin:2.1875rem auto 0
}
p a{
	text-decoration:underline
}
article{
	max-width:45rem;
	margin:auto
}
label{
	margin:1rem 0 .2rem
}
figcaption{
	position:absolute;
	bottom:1rem;
	left:1rem;
	text-transform:uppercase;
	max-width:50%;
	text-align:left;
	letter-spacing:.0625rem
}
@media screen and (min-width:61em){
	figcaption{
		left:auto;
		right:2rem;
		bottom:2rem;
		text-align:right
	}
}
.t__tiny{
	font-size:.75rem
}
.t__narrow{
	max-width:15rem;
	margin:auto
}
body{
	background-color:#f4f4f4;
	color:#0c1d33;
	font:400 1.125rem/1.6 ff-tisa-web-pro,georgia,serif
}
.l__thumb{
	width:auto;
	height:5.7rem
}
@media screen and (min-width:61em){
	.l__smallOnly{
		display:none
	}
}
.l__fixed{
	max-width:75rem;
	margin:auto
}
.l__block,.l__block--tall,.l__full,.l__strip,.l__strip--two{
	background-size:cover;
	background-position:center;
	position:relative;
	width:100%
}
.l__block,.l__full{
	padding:4.375rem 1.5rem
}
.l__full{
	padding:4.375rem .5rem
}
@media screen and (min-width:61em){
	.l__full{
		padding:4.375rem
	}
}
.l__block{
	height:17.5rem
}
.l__block--tall{
	height:17.5rem;
	overflow:hidden
}
@media screen and (min-width:61em){
	.l__block--tall{
		height:30.625rem
	}
}
.l__strip{
	height:4.375rem
}
.l__strip--two{
	height:6.5625rem
}
@media screen and (min-width:61em){
	.l__strip--two{
		height:13.125rem
	}
}
.l__slim{
	margin:auto;
	max-width:29.4rem
}
.l__list--gap .l__list__item,.l__list--gap>li{
	margin-top:.6rem
}.l__list--four .l__list__item,.l__list--four2One .l__list__item,.l__list--four2One>li,.l__list--four>li,.l__list--two .l__list__item,.l__list--two>li,.l__list--twoGap .l__list__item,.l__list--twoGap>li{
	float:left
}
.l__list--two .l__list__item,.l__list--two>li,.l__list--twoGap .l__list__item,.l__list--twoGap>li{
	width:100%
}
@media screen and (min-width:61em){
	.l__list--two .l__list__item,.l__list--two>li,.l__list--twoGap .l__list__item,.l__list--twoGap>li{
		width:50%
	}
}
.l__list--twoGap .l__list__item,.l__list--twoGap>li{
	margin-top:.6rem
}
@media screen and (min-width:61em){
	.l__list--twoGap .l__list__item,.l__list--twoGap>li{
		width:49.3%
	}
	.l__list--twoGap .l__list__item:nth-child(odd),.l__list--twoGap>li:nth-child(odd){
		margin-right:1.3%
	}
}
.l__list--four .l__list__item,.l__list--four>li{
	width:50%;
	margin:1.1875rem 0;
	height:17rem
}
@media screen and (min-width:61em){
	.l__list--four .l__list__item,.l__list--four>li{
		width:25%;
		height:22rem
	}
}
.l__list--four .l__list__item img,.l__list--four>li img{
	max-width:14rem;
	margin:1.1875rem 0
}
.l__list--four2One{
	display:inline-block
}
.l__list--four2One span{
	display:block;
	margin-bottom:2.375rem
}
@media screen and (min-width:35em){
	.l__list--four2One span{
		height:12rem;
		margin-bottom:0
	}
}
.l__list--four2One .l__list__item,.l__list--four2One>li{
	width:15rem;
	margin:0 1.1875rem
}
.l__container{
	width:100%;
	max-width:90rem;
	margin:auto
}
.l__footer{
	padding:0 10%;
	overflow:hidden
}
.l__footer__align{
	float:left;
	height:4.375rem;
	line-height:4.375rem;
	margin:0
}
.s__pointer{
	top:-.74rem;
	width:1rem;
	height:1rem;
	position:absolute
}
.btn,.btn--gold,.btn--grey,.btn--hollow,.btn--hollowGold,.btn--hollowWhite,.btn--hollowWhiteGold,.btn--navy,.spr-button,.spr-summary-actions-newreview{
	font-size:.875rem;
	letter-spacing:.18rem;
	display:inline-block;
	padding:1rem;
	height:3.4375rem;
	max-width:14.375rem;
	width:100%;
	cursor:pointer;
	background:center/25% no-repeat #0c1d33;
	color:#fff;
	transition:150ms;
	text-decoration:none;
	text-align:center;
	-webkit-appearance:none
}
.btn--gold.is--active,.btn--gold:hover,.btn--grey.is--active,.btn--grey:hover,.btn--hollow.is--active,.btn--hollow:hover,.btn--hollowGold.is--active,.btn--hollowGold:hover,.btn--hollowWhite.is--active,.btn--hollowWhite:hover,.btn--hollowWhiteGold.is--active,.btn--hollowWhiteGold:hover,.btn--navy.is--active,.btn--navy:hover,.btn.is--active,.btn:hover,.btn__trigger:hover .btn,.btn__trigger:hover .btn--gold,.btn__trigger:hover .btn--grey,.btn__trigger:hover .btn--hollow,.btn__trigger:hover .btn--hollowGold,.btn__trigger:hover .btn--hollowWhite,.btn__trigger:hover .btn--hollowWhiteGold,.btn__trigger:hover .btn--navy,.btn__trigger:hover .spr-button,.btn__trigger:hover .spr-summary-actions-newreview,.spr-button.is--active,.spr-button:hover,.spr-summary-actions-newreview.is--active,.spr-summary-actions-newreview:hover{
	background-color:#fff;
	color:#0c1d33
}
.btn--gold.is--active svg,.btn--gold:hover svg,.btn--grey.is--active svg,.btn--grey:hover svg,.btn--hollow.is--active svg,.btn--hollow:hover svg,.btn--hollowGold.is--active svg,.btn--hollowGold:hover svg,.btn--hollowWhite.is--active svg,.btn--hollowWhite:hover svg,.btn--hollowWhiteGold.is--active svg,.btn--hollowWhiteGold:hover svg,.btn--navy.is--active svg,.btn--navy:hover svg,.btn.is--active svg,.btn:hover svg,.btn__trigger:hover .btn svg,.btn__trigger:hover .btn--gold svg,.btn__trigger:hover .btn--grey svg,.btn__trigger:hover .btn--hollow svg,.btn__trigger:hover .btn--hollowGold svg,.btn__trigger:hover .btn--hollowWhite svg,.btn__trigger:hover .btn--hollowWhiteGold svg,.btn__trigger:hover .btn--navy svg,.btn__trigger:hover .spr-button svg,.btn__trigger:hover .spr-summary-actions-newreview svg,.spr-button.is--active svg,.spr-button:hover svg,.spr-summary-actions-newreview.is--active svg,.spr-summary-actions-newreview:hover svg{
	fill:#0c1d33
}
.is--hidden{
	display:none
}
.btn--small{
	max-width:6.25rem
}
.btn--full{
	max-width:100%
}
input.btn{
	padding:1rem;
	height:3.4375rem
}
.btn--grey{
	background-color:#bbb;
	cursor:default
}
.btn--grey:hover{
	color:#fff;
	background:#bbb
}
.btn--navy.is--active,.btn--navy:hover,.btn__trigger:hover .btn--navy{
	color:#fff;
	background:#a3925f
}
.btn--gold{
	background-color:#a3925f
}
.btn--gold.is--active,.btn--gold:hover,.btn__trigger:hover .btn--gold{
	color:#a3925f
}
.btn--gold.is--active svg,.btn--gold:hover svg,.btn__trigger:hover .btn--gold svg{
	fill:#a3925f
}
.btn--hollow,.btn--hollowGold,.btn--hollowWhite,.btn--hollowWhiteGold{
	border:thin solid #0c1d33;
	color:#0c1d33;
	background-color:transparent
}
.btn--hollow.is--active,.btn--hollow:hover,.btn--hollowGold.is--active,.btn--hollowGold:hover,.btn--hollowWhite.is--active,.btn--hollowWhite:hover,.btn--hollowWhiteGold.is--active,.btn--hollowWhiteGold:hover,.btn__trigger:hover .btn--hollow,.btn__trigger:hover .btn--hollowGold,.btn__trigger:hover .btn--hollowWhite,.btn__trigger:hover .btn--hollowWhiteGold{
	background-color:#0c1d33;
	color:#fff
}
.btn--hollowGold{
	border-color:#a3925f;
	color:#a3925f
}
.btn--hollowGold.is--active,.btn--hollowGold:hover,.btn__trigger:hover .btn--hollowGold{
	background-color:#a3925f;
	color:#fff
}
.btn--hollowGold.is--active svg,.btn--hollowGold:hover svg,.btn__trigger:hover .btn--hollowGold svg{
	fill:#a3925f
}
.btn--hollowWhite,.btn--hollowWhiteGold{
	border-color:#fff;
	color:#fff
}
.btn--hollowWhite.is--active,.btn--hollowWhite:hover,.btn--hollowWhiteGold.is--active,.btn--hollowWhiteGold:hover,.btn__trigger:hover .btn--hollowWhite,.btn__trigger:hover .btn--hollowWhiteGold{
	background-color:#fff;
	color:#0c1d33
}
.btn--hollowWhiteGold.is--active,.btn--hollowWhiteGold:hover,.btn__trigger:hover .btn--hollowWhiteGold{
	color:#a3925f
}
.btn--hollowWhiteGold.is--active svg,.btn--hollowWhiteGold:hover svg,.btn__trigger:hover .btn--hollowWhiteGold svg{
	fill:#a3925f
}
@media screen and (max-width:61em){
	.btn--compact{
		position:absolute;
		font-size:0;
		width:3.4375rem;
		height:3.4375rem;
		bottom:1.1875rem;
		right:1.1875rem
	}
}
.btn--compact svg{
	fill:#fff;
	width:1.4375rem;
	height:1.4375rem
}
@media screen and (min-width:61em){
	.btn--compact{
		margin:2.5rem auto -2rem
	}
	.btn--compact svg{
		display:none
	}
}
.ui__close{
	position:absolute;
	cursor:pointer;
	height:2.5rem;
	width:2.5rem;
	top:50%;
	right:1rem;
	z-index:3;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	background-image:url(cancel.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:.625rem;
	border-radius:50%;
	transition:background-color 150ms
}
.ui__close:hover{
	background-image:url(cancel--white.svg);
	background-color:#a3925f
}
input,textarea{
	outline:0;
	padding:1rem;
	transition:#e0e0e0 150ms ease;
	width:100%
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
	color:#a3925f
}
input::-moz-placeholder,textarea::-moz-placeholder{
	color:#a3925f
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
	color:#a3925f
}
input::placeholder,textarea::placeholder{
	color:#a3925f
}
select{
	height:3.5625rem;
	width:calc(100% + 1.875rem);
	background:0 0
}
input[type=checkbox]{
	height:2.25rem;
	width:2.25rem;
	margin-right:1.25rem;
	visibility:hidden;
	background:0 0;
	box-shadow:none;
	border:none
}
input[type=checkbox]:after{
	z-index:1;
	cursor:pointer;
	border-radius:.25rem;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	visibility:visible;
	content:'';
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:center;
	background-size:1rem
}
input[type=checkbox]:checked:after{
	background-image:url(confirm--gold.svg)
}
.select__wrapper{
	width:100%;
	overflow:hidden;
	border-left:.625rem solid transparent
}
.select__wrapper:before{
	content:'';
	position:absolute;
	z-index:0;
	width:3.75rem;
	height:3.75rem;
	background:url(arrow_down.svg) center/1.375rem no-repeat #a3925f!important;
	top:0;
	right:0
}
.tabbed__list,.ui__form--minimal{
	background:#fff;
	width:100%;
	border-color:#0c1d33;
	border-style:solid;
	padding:.875rem 1rem;
	height:3.4375rem;
	position:relative;
	border-right-width:3.5625rem
}
.tabbed__list input,.ui__form--minimal input{
	padding:0;
	-webkit-appearance:none
}
.tabbed__list [class^=ui__icon--],.tabbed__list input[type=submit],.ui__form--minimal [class^=ui__icon--],.ui__form--minimal input[type=submit]{
	position:absolute;
	font:0/0 a;
	top:.125rem;
	right:-3.375rem;
	height:3.1875rem;
	width:3.1875rem;
	cursor:pointer;
	background:url(confirm.svg) center/1.125rem no-repeat
}
.tabbed__list [class^=ui__icon--].ui__icon--search,.tabbed__list input[type=submit].ui__icon--search,.ui__form--minimal [class^=ui__icon--].ui__icon--search,.ui__form--minimal input[type=submit].ui__icon--search{
	background:url(icon--search.svg) center/1.125rem no-repeat
}
.tabbed__list [class^=ui__icon--].ui__icon--open,.tabbed__list input[type=submit].ui__icon--open,.ui__form--minimal [class^=ui__icon--].ui__icon--open,.ui__form--minimal input[type=submit].ui__icon--open{
	background:url(arrow_down.svg) center/1.125rem no-repeat
}
.ui__border{
	border-width:thin 3.5625rem thin thin
}
.ui__border--gold{
	border-color:#a3925f
}
.ui__checkout{
	display:none
}
.ui__checkout.is--visible{
	display:block
}
.tabbed__dropDown,.ui__animate{
	-webkit-transform:translate3d(0,.5rem,0);
	transform:translate3d(0,.5rem,0);
	transition:-webkit-transform 150ms,opacity 150ms,width 150ms,visibility 150ms;
	transition:transform 150ms,opacity 150ms,width 150ms,visibility 150ms;
	visibility:hidden;
	opacity:0
}
.dropdown.is--open,.tabbed__list__container.is--open .tabbed__dropDown,.ui__animate--open{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	opacity:1;
	visibility:visible
}
.ui__raise__item{
	transition:150ms;
	will-change:transform;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
.ui__raise:hover .ui__raise__item{
	-webkit-transform:translate3d(0,.5rem,0);
	transform:translate3d(0,.5rem,0)
}
.logo{
	display:block;
	height:2.125rem;
	background:url(logotype.svg) center bottom no-repeat
}@media screen and (min-width:61em){
	.logo{
		margin-top:-.875rem;
		height:9.375rem;
		background-size:16.875rem
	}
	.logo:before{
		content:'';
		display:block;
		margin:auto;
		width:8.125rem;
		height:5.625rem;
		background:url(../pic/crest_with_text.png) center/100% no-repeat
	}
}
.logo--footer{
	background:url(logo.svg) center no-repeat;
	width:100%;
	height:7rem;
	display:inline-block;
	margin:2rem auto
}
@media screen and (min-width:61em){
	.crest__header{
		position:absolute;
		left:50%;
		top:calc(50% - 3rem);
		-webkit-transform:translate3d(-50%,-50%,0);
		transform:translate3d(-50%,-50%,0)
	}
}
.footerNav{
	max-width:80rem
}
@media screen and (max-width:61em){
	.footerNav{
		padding:0
	}
}
.footerNav__col{
	width:100%
}
.footerNav__col a{
	text-decoration:none
}
.footerNav__col>ul{
	position:relative;
	padding:1rem;
	border-top:thin solid #f4f4f4
}
.footerNav__col>ul li{
	color:#a3925f;
	height:1.6rem
}
.footerNav__col>ul.is--collapsed li{
	display:none
}
.footerNav__col>ul.is--open{
	background:#0c1d33
}
.footerNav__col>ul.is--open h6{
	color:#fff;
	margin-bottom:2rem
}
.footerNav__col>ul.is--open:before{
	content:'';
	border-bottom:thin rgba(255,255,255,.1) solid;
	position:absolute;
	top:3.45rem;
	left:0;
	width:100%
}
.footerNav__col .js__toggleCollapsed{
	cursor:pointer
}
@media screen and (min-width:61em){
	.footerNav__col .js__toggleCollapsed{
		cursor:inherit
	}
}
@media screen and (min-width:61em){
	.footerNav__col{
		width:25%;
		float:left;
		background:#fff!important
	}
	.footerNav__col>ul{
		border:none
	}
	.footerNav__col>ul:first-child{
		height:17.5rem
	}
	.footerNav__col>ul li{
		display:block!important;
		color:#0c1d33
	}
	.footerNav__col>ul h6{
		margin-bottom:1rem
	}
	.footerNav__col>ul.is--open{
		background:#fff
	}
	.footerNav__col>ul.is--open h6{
		color:#0c1d33;
		margin-bottom:1rem
	}
	.footerNav__col>ul.is--open:before{
		content:none
	}
}
.callout--razor,.callout--scissors{
	background-repeat:no-repeat
}
.callout--razor{
	background-image:url(../pic/razor_illustration.png);
	background-size:14rem;
	background-position:center bottom
}
.callout--scissors{
	background-image:url(../pic/scissors_illustration.png);
	background-size:85%;
	background-position:center
}
@media screen and (min-width:35em){
	.callout--scissors{
		background-size:27rem
	}
}
.slider{
	overflow:hidden;
	position:relative;
	background:#a3925f
}
.slider__holder{
	width:200rem;
	transition:150ms;
	position:relative;
	left:0
}
.slider__img,.slider__img--full{
	position:absolute;
	top:0;left:0;
	width:100%;
	height:auto;
	transition:-webkit-transform 900ms;
	transition:transform 900ms
}
.slider__img{
	width:auto;
	height:100%
}
@media screen and (min-width:25em){
	.slider__img{
		height:auto;
		width:100%
	}
}
@media screen and (min-width:61em){
	.slider__img{
		width:auto;
		height:100%
	}
	.btn__trigger:hover .slider__img{
		-webkit-transform:scale(1.2);
		transform:scale(1.2)
	}
}
.slider__item{
	float:left;width:100vw
}
@media screen and (min-width:61em){
	.slider__item{
		width:50vw
	}
}
@media screen and (min-width:90em){
	.slider__item{
		width:45rem
	}
}
.slider__tint:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:radial-gradient(ellipse at center,rgba(0,0,0,.3) 0,rgba(0,0,0,0) 40%)
}
.slider__paginate{
	position:absolute;
	top:0;
	right:0;
	z-index:2;
	padding:1.3rem
}
@media screen and (min-width:61em){
	.slider__paginate{
		top:auto;
		bottom:0
	}
}
.slider__paginate__item{
	background:#fff;
	float:left;
	border-radius:50%;
	width:.875rem;
	height:.875rem;
	margin-left:.625rem;
	border:.125rem solid #fff;
	cursor:pointer;
	transition:150ms
}
.slider__paginate__item.is--selected,.slider__paginate__item:hover{
	background:#0c1d33
}
.slider__next,.slider__prev{
	position:absolute;
	top:0;
	height:100%;
	width:10%;
	z-index:2;
	cursor:pointer
}
.slider__next{
	right:0
}
.social{
	text-align:left;
	float:right;
	color:#fff;
	margin-right:3.125rem
}
.social h6{
	float:left
}
.social svg{
	float:right;
	fill:#a3925f;
	width:1.5rem;
	height:1.5rem;
	transition:150ms;
	margin:1.3125rem 0 0 1rem
}
.social svg:hover{
	fill:#fff
}
@media screen and (min-width:35em){
	.social{
		min-width:12rem;
		margin-right:0
	}
}
.tabbed__list__container,.tabbed__list__container--narrow{
	position:relative;
	margin:auto
}
.tabbed__list__container--narrow.is--narrow,.tabbed__list__container.is--narrow{
	max-width:14.375rem
}
.tabbed__list__container--narrow.is--narrow .is--selected,.tabbed__list__container.is--narrow .is--selected{
	width:12.5rem;
	height:1.5625rem
}
.tabbed__list__container--narrow.is--narrow .is--selected:after,.tabbed__list__container.is--narrow .is--selected:after{
	content:'';
	position:absolute;
	right:0;
	background:linear-gradient(to right,rgba(255,255,255,0) 0,#fff 100%);
	height:1.5625rem;
	width:1.5625rem
}
@media screen and (min-width:61em){
	.tabbed__list__container--narrow.is--narrow,.tabbed__list__container.is--narrow{
		max-width:100%
	}
	.tabbed__list__container--narrow.is--narrow .is--selected,.tabbed__list__container.is--narrow .is--selected{
		width:auto;
		height:auto
	}
	.tabbed__list__container--narrow.is--narrow .is--selected:after,.tabbed__list__container.is--narrow .is--selected:after{
		content:none
	}
}
.tabbed__list{
	border-color:#a3925f;
	text-align:left;
	cursor:pointer;
	position:relative;
	margin:auto
}
@media screen and (min-width:61em){
	.tabbed__list{
		padding:.8125rem 1rem
	}
}
.tabbed__list:before{
	position:absolute;
	content:'';
	background:url(arrow_down.svg) center/90% no-repeat;
	width:1.5rem;
	height:1.5rem;
	top:1rem;
	right:-2.5rem
}
.tabbed__list li{
	cursor:pointer;
	display:none;
	color:#a3925f;
	transition:150ms;
	border:thin solid transparent
}
.tabbed__list li.is--selected{
	display:block
}
.tabbed__list__container.is--open .tabbed__list:before{
	background:url(cancel--white.svg) center/70% no-repeat;
	top:.9rem
}
.tabbed__dropDown{
	position:absolute;
	z-index:1;
	background:#a3925f;
	color:#fff;
	cursor:pointer;
	left:0;
	width:100%;
	top:4.2rem
}
.tabbed__dropDown li{
	padding:.6rem .8rem;
	border-bottom:thin #fff solid
}
.tabbed__dropDown li.is--selected{
	display:none
}
.tabbed__dropDown li:last-child{
	border:none
}
.tabbed__dropDown .s__pointer{
	right:1rem
}
.tabbed--navy .tabbed__list{
	border-color:#0c1d33
}
.tabbed--navy .tabbed__list li{
	color:#0c1d33
}
.tabbed--navy .tabbed__dropDown{
	background:#0c1d33
}
@media screen and (min-width:61em){
	.tabbed--expand{
		max-width:100%
	}
	.tabbed--expand .tabbed__list{
		border:none;
		max-width:100%;
		width:100%;
		text-align:center
	}
	.tabbed--expand .tabbed__list:before{
		display:none!important
	}
	.tabbed--expand .tabbed__list>li{
		display:inline-block!important;
		padding:.3rem .8rem;
		margin:.5rem
	}
	.tabbed--expand .tabbed__list>li:hover{
		border-color:#a3925f
	}
	.tabbed--expand .tabbed__list>li.is--selected{
		color:#fff;
		background-color:#a3925f
	}
	.tabbed--expand .tabbed__dropDown{
		display:none
	}
	.tabbed--expand.tabbed--navy .tabbed__list li:hover{
		border-color:#0c1d33
	}
	.tabbed--expand.tabbed--navy .tabbed__list li.is--selected{
		background-color:#0c1d33
	}
}
@media screen and (min-width:61em){
	.tabbed--top--grey,.tabbed--top--navy{
		height:auto;
		position:absolute;
		top:0;
		left:0;
		width:100%
	}
	.tabbed--top--grey .tabbed__list,.tabbed--top--navy .tabbed__list{
		height:auto
	}
}
@media screen and (min-width:61em){
	.tabbed--top--grey .tabbed__list{
		background-color:#ededed
	}
	.tabbed--top--navy .tabbed__list{
		background-color:#0c1d33
	}
}
.tabbed__section{
	display:none
}
.tabbed__section.is--selected{
	display:block
}
.product{
	padding:1rem 0 0
}
@media screen and (min-width:35em){
	.product{
		padding:4rem 1.1875rem
	}
	.product .product__split{
		width:40%!important
	}
	.product .product__split:last-child{
		width:60%!important
	}
}
@media screen and (min-width:61em){
	.product__stick{
		position:-webkit-sticky;
		position:sticky;
		top:4.375rem
	}
}
.product__img{
	padding:0 0 1rem
}
@media screen and (min-width:35em){
	.product__img{
		padding:0;
		margin:-4% 0 0
	}
}
@media screen and (min-width:61em){
	.product__img{
		margin:-6% -25% 0 0
	}
}
.product__desc{
	padding:1.25rem 1rem;
	position:relative;
	margin:auto;
	max-width:30rem
}
.product__desc>.s__pointer{
	left:50%;
	margin-left:-1rem;
	height:2rem;
	width:2rem;
	top:-1.5rem
}
@media screen and (min-width:35em){
	.product__desc{
		padding:2.375rem 2rem
	}
	.product__desc>.s__pointer{
		-webkit-transform:rotate(-90deg);
		transform:rotate(-90deg);
		left:-.5rem;
		top:3rem
	}
}
.product__endorsed{
	background:url(endorsed.svg) no-repeat;
	background-size:contain;
	height:4.4375rem;
	width:4.4375rem;
	right:0;
	bottom:0;
	-webkit-transform:rotate(10deg);
	transform:rotate(10deg)
}
.product__break{
	margin:.5rem 0 2rem;
	border-bottom:thin solid rgba(163,146,95,.3);
	clear:both
}
.product__break h6{
	position:relative;
	top:.875rem;
	display:inline-block;
	padding-right:1rem
}
.product__qty{
	width:3.6rem
}
.product__add{
	width:100%;
	max-width:75%
}
@media screen and (min-width:61em){
	.product__add{
		max-width:80%
	}
}
.product__swatch{
	height:2.875rem;
	width:2.875rem;
	border-radius:50%;
	margin:0 .375rem;
	position:relative
}
.product__swatch:before{
	content:" ";
	border-radius:50%;
	position:absolute;
	top:-.25rem;
	left:-.25rem;
	right:-.25rem;
	bottom:-.25rem;
	border:.125rem solid #a3925f;
	opacity:0;
	transition:150ms;
	-webkit-transform:scale(.8);
	transform:scale(.8)
}
.product__swatch.is--selected:before,.product__swatch:hover:before{
	opacity:1;
	-webkit-transform:scale(1);
	transform:scale(1)
}
.cart__count{
	border-radius:50%;
	height:1.1875rem;
	width:1.1875rem;
	line-height:1;
	padding:.1875rem 0 0 .1rem;
	right:.6rem;
	top:.6rem;
	opacity:0;
	transition:150ms
}
.cart__count.is--visible{
	opacity:1
}
.cart__item{
	padding:.5rem 4rem .5rem .5rem
}
.cart__copy{
	height:5.6875rem
}
.services{
	max-width:45rem;
	margin:auto;
	padding:4.375rem 1.1875rem
}
.services__item{
	text-align:left;
	padding:2rem 0 4.5rem;
	border-top:thin solid #d9d9d9
}
.services__item:last-child{
	border-bottom:thin solid #d9d9d9
}
.services__item h6{
	max-width:calc(100% - 4.375rem)
}
.contact__pointer{
	left:50%;
	width:2rem;
	margin-left:-1rem
}
.contact__map{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	visibility:hidden;
	transition:150ms
}
.contact__map.is--visible{
	opacity:1;
	visibility:visible
}
.countrySelect{
	margin-right:1.875rem;
	font-size:1.5rem
}.countrySelect span,.countrySelect__country span{
	margin-right:.3125rem
}
.countrySelect small,.countrySelect__country small{
	border-bottom:solid .0625rem;
	font-size:.875rem;
	line-height:1.4;
	top:-.3125rem
}
@media screen and (min-width:35em){
	.countrySelect small,.countrySelect__country small{
		display:inline
	}
}
.countrySelect__cover{
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:5;
	background:#fff
}
@media screen and (min-width:35em){
	.countrySelect__cover{
		background:rgba(12,29,51,.9)
	}
}
.countrySelect__overlay,.countrySelect__overlay__inner{
	border-radius:.25rem
}
.countrySelect__overlay{
	max-width:31.25rem;
	width:100%;
	top:50%;
	left:50%;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0)
}
.countrySelect__overlay__inner{
	padding:1.1875rem
}
@media screen and (min-width:35em){
	.countrySelect__overlay__inner{
		padding:2.375rem;
		margin:.625rem
	}
}
.countrySelect__overlay__inner hr{
	border-bottom:.0625rem #d9d9d9 solid;
	margin:1.78125rem 0;
	display:none
}
@media screen and (min-width:35em){
	.countrySelect__overlay__inner hr{
		display:block
	}
}
.countrySelect__countries{
	margin:auto;
	text-align:left
}
@media screen and (min-width:35em){
	.countrySelect__countries{
		width:22.5rem
	}
}
.countrySelect__country{
	width:3.125rem;
	width:9.375rem;
	font-size:1.375rem
}
@media screen and (min-width:35em){
	.countrySelect__country{
		width:11.25rem
	}
}
.countrySelect__close{
	height:1.25rem;
	top:.625rem;
	right:.625rem;
	width:1.25rem;
	z-index:3;
	background:url(cancel.svg) center/contain no-repeat
}
@media screen and (min-width:35em){
	.countrySelect__close{
		background-image:url(cancel--white.svg);
		top:1.875rem;
		right:1.875rem
	}
}
[class^=flag]{
	position:relative;
	display:inline-block;
	width:1.333333333333333em;
	line-height:1em;
	background-size:contain;
	background-position:50%;
	background-repeat:no-repeat
}
[class^=flag]:before{
	content:"\00a0"
}
.quote{
	padding:4.375rem .3125rem 0;
	background:#ededed!important
}
@media screen and (min-width:56.25rem){
	.quote{
		padding:8.75rem 6.5rem 0;
		-webkit-column-count:2;
		-moz-column-count:2;
		column-count:2;
		-webkit-column-gap:2.5rem;
		-moz-column-gap:2.5rem;
		column-gap:2.5rem
	}
}
@media screen and (min-width:81.25rem){
	.quote{
		-webkit-column-count:3;
		-moz-column-count:3;
		column-count:3
	}
}
.quote__item{
	vertical-align:top;
	position:relative;
	display:inline-block;
	margin-bottom:2.375rem;
	padding:3.125rem 1.1875rem 10.625rem;
	width:90%;
	max-width:28.125rem
}
@media screen and (min-width:56.25rem){
	.quote__item{
		width:100%;
		max-width:50rem
	}
}
.quote__item p+p{
	margin:0
}
.quote__item p{
	margin:1.875rem 0 0
}
.quote__item__foot{
	position:absolute;
	padding:2.125rem 0 2.5rem;
	bottom:0;
	left:0;
	width:100%
}
.quote__item__foot:after{
	content:"";
	background:linear-gradient(-45deg,#ededed .375rem,transparent 0),linear-gradient(45deg,#ededed .375rem,transparent 0)!important;
	background-size:.75rem .75rem!important;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:.75rem
}
.quote__item__img{
	position:absolute;
	border-radius:50%;
	top:-1.875rem;
	left:calc(50% - 1.875rem);
	width:3.75rem;
	height:3.75rem;
	border:.1875rem solid #fff
}
.credit{
	opacity:.8;
	color:#aaa;
	font-size:.75rem;
	line-height:1.2;
	text-transform:uppercase;
	padding:1.25rem 1.25rem 0 4.25rem;
	background:url(rotate.svg?v=1) 1.5rem center no-repeat #000;
	background-size:1.75rem;
	right:0;
	top:0;
	height:100%;
	width:15rem;
	-webkit-transform:translate3d(10.75rem,0,0);
	transform:translate3d(10.75rem,0,0);
	transition:all 200ms cubic-bezier(.68,-.55,.265,1.55)
}
.credit:hover{
	-webkit-transform:translate3d(1.25rem,0,0);
	transform:translate3d(1.25rem,0,0);
	opacity:1;
	color:#aaa
}
.journal__snippetHolder{
	margin:auto;
	padding:.625rem .625rem 2.5rem
}
@media (min-width:49.0625em){
	.journal__snippetHolder{
		text-align:left;
		width:49.0625rem
	}
}
@media (min-width:61em){
	.journal__snippetHolder{
		padding:1.5625rem 0 4.6875rem;
		width:51.5625rem
	}
}
@media (min-width:77.5em){
	.journal__snippetHolder{
		width:77.5rem
	}
}
.journal__snippetHolder h5{
	font-weight:400;
	line-height:1.3
}
.journal__snippetHolder--alt{
	padding:.625rem
}
@media (min-width:61em){
	.journal__snippetHolder--alt{
		padding:1.5625rem 0
	}
}
.journal__snippet{
	border-radius:.3125rem;
	overflow:hidden;
	position:relative;
	width:100%;
	max-width:22.5rem;
	margin:.625rem;
	background:#fff;
	height:31.875rem;
	display:inline-block;
	vertical-align:top
}
@media (min-width:61em){
	.journal__snippet{
		margin:.625rem
	}
}
@media (min-width:61em){
	.journal__snippet{
		margin:1.5625rem
	}
}
.journal__snippet__img{
	width:100%;
	height:12.5rem;
	display:block;
	background-size:cover;
	background-position:center;
	background-image:url(../pic/medium/1-history-1440.jpg)
}
@media (min-width:61em){
	.journal__snippet__img{
		background-image:url(../pic/large/1-history-1440.jpg)
	}
}
.journal__snippet__img:hover+.journal__snippet__copy h5,.journal__snippet__img:hover+.journal__snippet__copy p{
	color:#a3925f!important
}
.journal__snippet__copy{
	padding:1.25rem
}
@media (min-width:61em){
	.journal__snippet__copy{
		padding:2.25rem
	}
}
.journal__snippet__copy p{
	margin-top:.9375rem
}
.journal__snippet__copy:hover h5,.journal__snippet__copy:hover p{
	color:#a3925f!important
}
.journal__tags{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:1.25rem
}
@media (min-width:61em){
	.journal__tags{
		padding:2.25rem
	}
}
.journal__tag{
	font-size:.75rem;
	text-transform:uppercase;
	border:thin solid rgba(163,146,95,.5);
	display:inline-block;
	padding:.3125rem .625rem .1875rem .6875rem;
	height:1.75rem;
	border-radius:.125rem;
	margin-right:.375rem
}
.journal__tag:hover{
	background:#a3925f;
	color:#fff
}
.journal__pagination{
	padding:1.25rem;
	color:#fff
}
.journal__pagination span{
	margin:.9375rem .3125rem
}
.journal__pagination a:hover{
	color:#a3925f
}
.journal__pagination .page{
	opacity:.6
}
.journal__pagination .page.current{
	opacity:.3
}
.journal__header{
	position:relative;
	width:100%;
	height:23.75rem;
	display:block;
	background-size:cover;
	background-position:top center;
	background-image:url(../pic/medium/1-history-1440.jpg)
}
@media (min-width:61em){
	.journal__header{
		height:35rem;
		background-image:url(../pic/large/1-history-1440.jpg)
	}
}
.journal__body{
	padding:1.875rem 1.25rem;
	font-size:1.125rem
}
.journal__body p{
	font-size:1.125rem;
	margin:.3125rem 0 0
}
.journal__body h1,.journal__body h2,.journal__body h3,.journal__body h4,.journal__body h5,.journal__body h6{
	color:#a3925f
}
.journal__body img{
	width:auto;
	display:block;
	margin:2.5rem auto 1.25rem;
	max-width:100%
}
@media (min-width:61em){
	.journal__body{
		padding:6.25rem 1.25rem
	}
}
.landing__discount{
	margin-top:1.25rem;
	border-bottom:solid #a3925f .0625rem;
	display:inline-block;
	color:#a3925f
}
.landing .btn{
	margin-top:1.875rem
}
.landing article{
	margin-top:4.375rem;
	text-align:left
}
.landing p{
	font-size:1.125rem;
	line-height:1.75rem
}
.landing p+p{
	margin-top:1.875rem
}
.landing hr{
	height:.0625rem;
	width:100%;
	background:#a3925f;
	margin-top:1.875rem;
	margin-bottom:3.4375rem;
	display:block
}
.landing img{
	margin-top:3rem
}
.landing input[type=submit]{
	margin:auto;
	display:block
}
.landing small{
	font-size:.875rem;
	line-height:1.125rem
}
.landing label{
	display:block
}
.overlay{
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:100vh;
	z-index:30;
	-webkit-transform:translateX(-100%) translateZ(0);
	transform:translateX(-100%) translateZ(0);
	opacity:0;
	visibility:hidden;
	transition:opacity 250ms ease 250ms,visibility 250ms ease 250ms,-webkit-transform 0s 500ms;
	transition:opacity 250ms ease 250ms,visibility 250ms ease 250ms,transform 0s 500ms
}
.overlay--open{
	overflow:hidden
}
.overlay.is-open{
	-webkit-transform:translateX(0) translateZ(0);
	transform:translateX(0) translateZ(0);
	opacity:1;
	visibility:visible;
	transition:opacity 250ms ease,visibility 250ms ease,-webkit-transform 0s 0s;
	transition:opacity 250ms ease,visibility 250ms ease,transform 0s 0s
}
.overlay__scroll{
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	height:100%
}
.overlay__bg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(217,217,217,.95)
}
.overlay__outer{
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%
}
.overlay__inner{
	display:table-cell;
	vertical-align:middle
}
.overlay__container{
	position:relative;
	z-index:10;
	margin:1.875rem auto 6.25rem;
	width:calc(100% - 3.75rem);
	overflow:hidden;
	max-width:28.75rem;
	text-align:center;
	opacity:0;
	-webkit-transform:scale(.8) translateZ(0);
	transform:scale(.8) translateZ(0);
	transition:opacity 250ms ease 0s,-webkit-transform 250ms ease 0s;
	transition:opacity 250ms ease 0s,transform 250ms ease 0s
}
@media screen and (min-width:61em){
	.overlay__container{
		max-width:57.5rem;
		margin-bottom:1.875rem
	}
}
.is-open .overlay__container{
	opacity:1;
	-webkit-transform:scale(1) translateZ(0);
	transform:scale(1) translateZ(0);
	transition:opacity 250ms ease 250ms,-webkit-transform 250ms ease 250ms;
	transition:opacity 250ms ease 250ms,transform 250ms ease 250ms
}
.overlay__panel{
	position:relative;
	z-index:10;
	background-color:#fff;
	border-radius:.25rem;
	overflow:hidden
}
@media screen and (min-width:61em){
	.overlay__panel{
		display:-ms-flexbox;
		display:flex
	}
}
@media screen and (min-width:61em){
	.overlay__left,.overlay__right{
		width:50%;
		float:left
	}
}
.overlay__left{
	display:none
}
@media screen and (min-width:61em){
	.overlay__left{
		display:-ms-flexbox;
		display:flex;
		-ms-flex-flow:column wrap;
		flex-flow:column wrap;
		-ms-flex-align:center;
		align-items:center;
		-ms-flex-pack:center;
		justify-content:center;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:top center;
		background-color:#0c1d33;
		min-height:37.5rem
	}
}
.overlay__right{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-flow:column wrap;
	flex-flow:column wrap;
	-ms-flex-pack:end;
	justify-content:flex-end;
	position:relative;
	padding:3.75rem 1.875rem 1.875rem
}
@media screen and (min-width:35em){
	.overlay__right{
		padding:3.75rem
	}
}
.overlay__logo{
	width:100%;
	max-width:12.5rem;
	font-style:italic;
	vertical-align:middle;
	height:auto
}
@media screen and (min-width:61em){
	.overlay__logo{
		max-width:18.75rem
	}
}
.overlay__title{
	font-size:1.3125rem;
	line-height:1.714285714285714;
	letter-spacing:.2em
}
.overlay__copy{
	color:rgba(12,29,51,.75)
}
.overlay__msg{
	margin:0;
	opacity:0;
	color:#a3925f;
	transition:opacity .25s ease
}
.overlay__input::-webkit-input-placeholder{
	color:rgba(12,29,51,.75)
}
.overlay__input::-moz-placeholder{
	color:rgba(12,29,51,.75)
}
.overlay__input:-ms-input-placeholder{
	color:rgba(12,29,51,.75)
}
.overlay__input::placeholder{
	color:rgba(12,29,51,.75)
}
.overlay__close{
	display:block;
	position:absolute;
	top:0;
	right:0;
	padding:1.4375rem 1.25rem;
	cursor:pointer
}
.overlay__cross{
	position:relative;
	margin-top:.1875rem;
	margin-bottom:.1875rem;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.overlay__cross,.overlay__cross:after,.overlay__cross:before{
	display:block;
	width:1.125rem;
	height:.0625rem;
	-webkit-transform:rotate(0deg);
	transform:rotate(0deg);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	background-color:grey;
	transition:-webkit-transform $trans-inout,background-color $trans-inout;
	transition:transform $trans-inout,background-color $trans-inout
}
.overlay__cross{
	background-color:transparent
}
.overlay__cross:after,.overlay__cross:before{
	content:"";
	position:absolute;
	top:0
}
.overlay__cross:before{
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg)
}
.overlay__cross:after{
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}
.menu{
	position:relative;
	z-index:1;
	height:4.375rem;
	text-align:left
}
.menu a{
	text-decoration:none
}
.fixedsticky-dummy{
	display:none
}
.fixedsticky-on{
	border-bottom:thin solid #d9d9d9
}
#menu{
	top:0;
	background:#fff;
	max-width:90rem
}
@media screen and (min-height:52em),(max-width:61em) and (min-height:28em){
	.fixedsticky-on+.fixedsticky-dummy{
		display:block
	}
	.fixedsticky-on{
		position:fixed
	}
}
.menu__opts{
	height:100%;
	cursor:pointer;
	background:url(menu.svg) 1.4rem/1.6rem no-repeat
}
@media screen and (min-width:61em){
	.menu__opts{
		display:none
	}
}
.menu__opts h6{
	position:absolute;
	top:1.6rem;
	left:4rem
}
.menu__items{
	display:none;
	width:80%;
	transition:width 300ms
}
.menu__items a{
	margin:0.875rem;
	cursor:pointer
}
.menu__items a:before{
	color:#a3925f;
	position:relative;
	content:'•';
	left:-1.2rem
}
.menu__items a:first-child:before{
	content:none
}
.menu__items a:hover{
	color:#a3925f
}
@media screen and (min-width:61em){
	.menu__items{
		display:block
	}
}
@media screen and (min-width:78em){
	.menu__items{
		width:100%
	}
	.menu__items a{
		margin:0 1.5rem
	}
	.menu__items a:before{
		left:-1.9rem
	}
}
.menu__util{
	position:absolute;
	cursor:pointer;
	height:100%;
	width:3.804347826086957rem;
	top:0;
	background:center/1.4rem no-repeat;
	border-left:thin solid #d9d9d9;
	transition:background-color 150ms
}
@media screen and (min-width:35em){
	.menu__util{
		width:4.375rem
	}
}
.menu__util.is--open{
	background:url(cancel.svg) center/1rem no-repeat!important
}
@media screen and (min-width:61em){
	.menu__util.is--open:hover{
		background:url(cancel--white.svg) center/1rem no-repeat #a3925f!important
	}
}
@media screen and (min-width:61em){
	.menu__util:hover{
		background-color:#a3925f
	}
}
.menu__util[data-type=login]{
	background-image:url(tools_user.svg);
	right:7.608695652173914rem
}
@media screen and (min-width:35em){
	.menu__util[data-type=login]{
		right:8.75rem
	}
}
@media screen and (min-width:61em){
	.menu__util[data-type=login]:hover{
		background-image:url(tools_user--white.svg)
	}
}
.menu__util[data-type=cart]{
	background-image:url(tools_cart.svg);
	right:3.804347826086957rem
}
@media screen and (min-width:35em){
	.menu__util[data-type=cart]{
		right:4.375rem
	}
}
@media screen and (min-width:61em){
	.menu__util[data-type=cart]:hover{
		background-image:url(tools_cart--white.svg)
	}
}
.menu__util[data-type=search]{
	background-image:url(tools_search.svg);
	right:0
}
@media screen and (min-width:61em){
	.menu__util[data-type=search]:hover{
		background-image:url(tools_search--white.svg)
	}
}
.menu__group{
	display:none
}
[data-area=login] .menu__group[data-type=login],[data-area=cart] .menu__group[data-type=cart],[data-area=search] .menu__group[data-type=search],[data-area=products] .menu__group[data-type=products],[data-area=ranges] .menu__group[data-type=ranges],[data-area=story] .menu__group[data-type=story],[data-area=contact] .menu__group[data-type=contact]{
	display:block
}
.dropdown{
	max-width:27.2rem;
	z-index:3;
	width:calc(100% - 1.2rem);
	top:5.075rem
}
.dropdown img{
	width:auto
}
.dropdown[data-area=products] .s__pointer,.dropdown[data-area=ranges] .s__pointer,.dropdown[data-area=story] .s__pointer,.dropdown[data-area=contact] .s__pointer{
	left:3.5rem
}
@media screen and (min-width:61em){
	.dropdown[data-area=products],.dropdown[data-area=ranges],.dropdown[data-area=story],.dropdown[data-area=contact]{
		padding-top:0!important
	}
	.dropdown[data-area=products] .s__pointer,.dropdown[data-area=ranges] .s__pointer,.dropdown[data-area=story] .s__pointer,.dropdown[data-area=contact] .s__pointer{
		left:5rem
	}
}
@media screen and (min-width:61em){
	.dropdown[data-area=products],.dropdown[data-area=ranges]{
		max-width:50rem
	}
}
.dropdown[data-area=login] .s__pointer,.dropdown[data-area=cart] .s__pointer,.dropdown[data-area=search] .s__pointer{
	color:#a3925f;
	left:auto
}
.dropdown[data-area=login]{
	max-width:18rem;
	padding-top:0
}
.dropdown[data-area=login] .s__pointer{
	right:8.2rem
}
@media screen and (min-width:35em){
	.dropdown[data-area=login] .s__pointer{
		right:9.5rem
	}
}
.dropdown[data-area=cart] .s__pointer{
	right:4.4rem
}
@media screen and (min-width:35em){
	.dropdown[data-area=cart] .s__pointer{
		right:5.2rem
	}
}
.dropdown[data-area=search] .s__pointer{
	right:.6rem
}
@media screen and (min-width:35em){
	.dropdown[data-area=search] .s__pointer{
		right:.8rem
	}
}
.dropdown--left{
	left:.6rem
}
.dropdown--right{
	right:.6rem
}
.menu__sub{
	font:0/0 a;
	margin-left:-.625rem
}
.menu__sub--item{
	margin:0 0 .625rem .625rem;
	padding:1.25rem .75rem
}
.menu__item{
	padding:0 1.0625rem;
	width:100%;
	border-radius:.25rem;
	background:#fff;
	height:3.125rem;
	margin-top:.6rem
}
.menu__item:last-child{
	border:none
}
.menu__item small{
	line-height:1.2;
	display:inline-block;
	display:none
}
.menu__item h6,.menu__item small{
	max-width:calc(100% - 7.9rem)
}
.menu__item img{
	top:.3rem;
	right:.3rem;
	height:2.5rem
}
@media screen and (min-width:35em){
	.menu__item{
		height:7rem;
		padding:0 1.6875rem
	}
	.menu__item small{
		display:block
	}
	.menu__item img{
		top:.6rem;
		right:.6rem;
		height:5.7rem
	}
}
.menu__item:hover{
	background:#a3925f;
	color:#fff!important
}
.menu__item:hover small{
	color:#fff!important
}
.menu__countryDrop{
	padding:.4375rem 0 .4375rem 1.4375rem;
	border-bottom:.0625rem solid #d9d9d9
}
.menu__countryDrop.has--noBorder{
	border:none!important
}
.menu__countryDrop h6{
	transition:150ms
}
.menu__countryDrop:hover h6{
	margin-left:.9375rem
}
.menu__countryDropItems{
	margin-top:-.625rem
}
.spr-icon{
	color:#a3925f!important
}
.spr-container{
	border:none!important
}
.spr-summary-caption{
	display:block;
	font-size:.8125rem!important
}
.spr-summary-actions{
	display:block
}
.spr-form-input{
	background:#f4f4f4
}
.spr-header-title{
	font-size:2rem!important;
	color:#0c1d33
}
.spr-review{
	border-radius:.25rem;
	border:none!important;
	max-width:45rem;
	margin:1.25rem auto 0;
	padding:1.75rem!important
}
.spr-review:nth-child(odd){
	background:#f4f4f4
}
.spr-review-header-title{
	font-size:1.5rem!important
}
.spr-review-header-byline{
	font-style:normal!important;
	font-weight:600!important
}
.spr-review-header-byline strong{
	font-weight:600!important
}
.spr-review-content{
	max-width:43.75rem;
	margin:0 auto 1.5rem!important
}
.spr-review-content-body{
	font-size:1rem!important;
	line-height:1.6!important;
	margin-top:.5rem!important
}
.spr-review-reportreview{
	color:#d9d9d9
}
.spr-form{
	border:none!important
}
.spr-form-title{
	text-align:center;
	margin-bottom:1.5rem
}
.spr-button,.spr-summary-actions-newreview{
	margin-top:1.5rem;
	float:none!important
}
.spr-button:hover,.spr-summary-actions-newreview:hover{
	color:#fff;
	background:#a3925f
}
.new-review-form{
	max-width:25rem;
	margin:auto!important;
	text-align:left
}
.wf-loading .menu__items a{
	visibility:hidden
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpx){
	body,html{
		font-size:86%
	}
}
.restrict{
	display:none
}
.store--gb .restrict{
	display:block
}
.store--gb .country--ad .restrict,.store--gb .country--at .restrict,.store--gb .country--be .restrict,.store--gb .country--ch .restrict,.store--gb .country--cz .restrict,.store--gb .country--de .restrict,.store--gb .country--dk .restrict,.store--gb .country--es .restrict,.store--gb .country--fr .restrict,.store--gb .country--gb .restrict,.store--gb .country--hu .restrict,.store--gb .country--ie .restrict,.store--gb .country--it .restrict,.store--gb .country--li .restrict,.store--gb .country--lu .restrict,.store--gb .country--mc .restrict,.store--gb .country--nl .restrict,.store--gb .country--pl .restrict,.store--gb .country--pt .restrict,.store--gb .country--va .restrict{
	display:none
}